__Scripts__/
.idea
.vscode
*/__pycache__/
__pycache__/
*.py[cod]
.pyc
db.sqlite3
sqlite3
sqlite.db
static
venv
/venv
venv/
back_media
.env
.env/
/.env
build
doc
**/migrations/00*.py
**/migrations/*__pycache__
!*/media/!*/photos/*/
!*/media/!*/default_photo/!*/




